.TodoListItem {
    /*display: flex;*/
    /*flex-direction: row;*/
    width: 100%;
    padding: 10px;
}
.TodoHeader{
    display: flex;
    align-items: center;
}
.TodoHeader .TodoDate{
    font-size: 17px;
    font-weight: bold;
}
.TodoHeader .Todo{
    margin-left:30px;
    font-size: 17px;
}
.TodoContent{
    margin:10px 0 0 40px;
}
.TodoContent .TodoRows{
    display: flex;
    align-items: center;
    margin-top:10px;
}
.TodoContent .TodoRows .assignee{
    margin-bottom: 0;
    font-size: 13px;
}
.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 78%;
}

.checkbox img {
    font-size: 1rem;
}
.checkbox.checked .text {
    color: #adb5bd;
    text-decoration: line-through;
}

.text {
    font-size: 17px;
    width: 60%;
    margin-left: 10px;
}

.Edit{
    margin-left: 20px;
}
.Remove {
    margin-left: 5px;
}
.Edit, .Remove{
    cursor: pointer;
}