.paging {
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  border: 0px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  /*border: 0px solid #e2e2e2;*/
  border-radius: 20px;
  /*background-color: #F2F2F2;*/
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 0 5px;
}

/*ul.pagination li:first-child{*/
/*    border-radius: 5px 0 0 5px;*/
/*}*/
/*ul.pagination li:last-child{*/
/*    border-radius: 0 5px 5px 0;*/
/*}*/

ul.pagination li a {
  text-decoration: none;
  color: #99A98F;
  padding: 8px;
}

ul.pagination li.active a {
  color: white;
  font-weight: bold;
}

ul.pagination li.active {
  background-color: #99A98F;
  /*background-color: #7A8D62;*/
}

ul.pagination li.active a:hover {
  color: white;
  font-weight: bold;
}

ul.pagination li.active:hover {
  background-color: #99A98F;
  /*background-color: #7A8D62;*/
}

ul.pagination li:hover {
  background-color: #F2F2F2;
}

ul.pagination li. a:hover {
  color: #99A98F;
}

/*.page-selection {*/
/*    width: 48px;*/
/*    height: 30px;*/
/*    color: #337ab7;*/
/*}*/